.show-cart {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: 700;
  overflow-y: scroll;
}

.show-cart-close {
  color: white;
  font-weight: 700;
  padding: 1rem;
  cursor: pointer;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: auto;
}

.cart-item-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  width: 80%;
  margin: auto;
}

.cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
}

.cart-item:nth-child(even) {
  background: #cccccc;
}

.cart-item:nth-child(odd) {
  background: #e2e2e2;
}

.cart-dish-details {
  width: 30%;
  text-align: center;
}

.cart-dish-name {
  width: 40%;
  text-align: left;
}

.total {
  text-align: right;
  background: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 0.25rem;
}
